.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  perspective: 600px;
  transform-style: preserve-3d;
}

.cube {
  position: absolute;
  width: 200px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  transform: translateZ(-100px);
  transform-style: preserve-3d;
}

.orbit {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.orbit-cube {
  position: absolute;
  width: 50px;
  height: 50px;
  top: calc(50% - 25px);
  left: calc(50% - 250px);
  transform: translateZ(-50px);
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  animation: modulate-edge 6s infinite;
}

@keyframes modulate-edge {
  0% {
    width: 100%;
    height: 100%;
  }

  15% {
    width: 75%;
    height: 75%;
    border-radius: 20%;
  }

  50% {
    width: 100%;
    height: 100%;
    border-radius: 0;
    opacity: 0.7;
  }

  85% {
    opacity: 1;
  }
}

.cube div:nth-child(1) { transform: rotateY(  0deg) translateZ(100px); background-color: red; }
.cube div:nth-child(2) { transform: rotateY( 90deg) translateZ(100px); background-color: green; }
.cube div:nth-child(3) { transform: rotateY(180deg) translateZ(100px); background-color: blue; }
.cube div:nth-child(4) { transform: rotateY(-90deg) translateZ(100px); background-color: orange; }
.cube div:nth-child(5) { transform: rotateX( 90deg) translateZ(100px); background-color: purple; }
.cube div:nth-child(6) { transform: rotateX(-90deg) translateZ(100px); background-color: yellow; }

.orbit-cube div:nth-child(1) { transform: rotateY(  0deg) translateZ(25px); background-color: red; }
.orbit-cube div:nth-child(2) { transform: rotateY( 90deg) translateZ(25px); background-color: green; }
.orbit-cube div:nth-child(3) { transform: rotateY(180deg) translateZ(25px); background-color: blue; }
.orbit-cube div:nth-child(4) { transform: rotateY(-90deg) translateZ(25px); background-color: orange; }
.orbit-cube div:nth-child(5) { transform: rotateX( 90deg) translateZ(25px); background-color: purple; }
.orbit-cube div:nth-child(6) { transform: rotateX(-90deg) translateZ(25px); background-color: yellow; }
